@font-face{
	font-family:"Roboto";
	font-weight:300;
	src:url("Roboto-Light.ttf");
}
@font-face{
	font-family:"Roboto";
	font-weight:100;
	src:url("Roboto-Thin.ttf");
}
body{
	font-family:"Roboto",Arial,Sans-serif;
	font-weight:300;
	position:absolute;
	margin:0;
	top:0;
	bottom:0;
	left:0;
	right:0;
}
#codebox {
	display: none;
}
#problem{
    position: absolute;  
    right: 0;  margin: 40px 40px 40px 0;  width: 400px;  top: 0;
	
    bottom: 0;
}
#problemDescription{
	top:0;
	bottom:110px;
	right:0;
	width: 380px;
	background-color: #EEEEEE;
	overflow: auto;
	word-wrap:break-word;
	z-index: 1000;
	position: absolute;
	padding: 10px;
}
#timer{
    position: absolute;
	overflow:hidden;
    right: 0;
    bottom: 0;
    background-color: #EEEEEE;
    width: 380px;
    height: 50px;
    padding: 10px;
    text-align: center;
    z-index: 1000;
}
#timer .time{
    margin-bottom: 10px;
	
}
.problemDetails{
	font-size: 20px;
	margin-top:30px;
}
#problemDescription pre{
	font-size: 0.8em;
}
#problemSwitcher{
	position: absolute;
	list-style: none;
	padding: 10px 0 10px 0;
	top:0;
	bottom:110px;
	right: 5px;
	width: 300px;
	z-index: 899;
	background-color: #CCCCCC;
	overflow-y: auto;
	margin: 0 100px 0 0;
}
#problemSwitcher li{
	padding: 5px 5px 5px 10px;
	border-left: 5px solid;
	cursor:pointer;
	user-select:none;
	-ms-user-select:none;
	-moz-user-select:none;
	-webkit-user-select:none;
}
#problemSwitcher li:hover{
	background-color: #DDDDDD;
}
#problemSwitcher li:active{
	background-color: #BBBBBB;
}
#problemSwitcher li.active{
	background-color: #EEEEEE;
}
#submissionArea{
	position:absolute;
	top:0;
	left:0;
	right:480px;
	bottom:110px;
	margin: 40px 0 40px 40px;
}
textarea{
	position:absolute;
	width:100%;
	height:100%;
	max-width:100%;
	max-height:100%;
	min-width:100%;
	min-height:100%;
}
#grader{
	position:absolute;
	left:0;
	bottom:0;
	right: 440px;
	margin: 0 40px 40px 40px;
	z-index:10000;
}
.grader>svg{
	position:absolute;
	left:0px;
	top:0px;
	z-index:11000;
	cursor:pointer;
	user-select:none;
	-ms-user-select:none;
	-moz-user-select:none;
	-webkit-user-select:none;
}
h1{
	font-weight:100;
	font-size:35px;
	margin:0;
}
h2{
    margin: 5px 0 -5px 0;
    font-weight: inherit;
}
pre{
    padding: 5px;
	word-wrap:break-word;
    margin: 10px 0 0 0;
    background-color: white;
    font-size: 1.3em;
}
.caseDetails{
	padding-bottom:5px;
}
.results{
	position:relative;
	margin-top:10px;
	margin-left:110px;
	min-height:50px;
	background-color:#EEEEEE;
	padding:10px;
}
.leftarrow{
	width:0;
	height:0;
	position:absolute;
	left:-40px;
	top:15px;
	border:20px solid transparent;
	border-right:20px solid #EEEEEE;
}
.casesarrow{
	opacity:0;
	border-right:20px solid transparent;
	z-index: 100;
}
.toparrow{
	width:0;
	height:0;
	position:absolute;
	left: 0%;
	top:0;
	border:20px solid transparent;
	border-top:20px solid #EEEEEE;
	margin-left: -20px;
}
.output{
	position:relative;
	overflow:hidden;
	height:50px;
}
.currentoutput{
	position:relative;
	height:inherit;
}
.previousoutput{
	position:absolute;
	z-index:0;
}
.cases{
	position:absolute;
	padding: 0;
	margin: 0;
	left:0;
	right:0;
	top:0;
	height:0%;
	list-style: none;
	overflow: hidden;
	z-index:200;
	cursor:default;
}
.case{
	float:left;
	padding:10px 0 10px 0;
	width:33.333%;
	height:50px;
	text-align: center;
	color:white;
}
.details{
	left:0;
	right:0;
	bottom:100%;
	opacity:0;
	display:none;
	position: absolute;
	background-color: #EEEEEE;
	padding: 5px 10px 10px 10px;
	word-wrap: break-word;
	border-top: 5px solid transparent;
}


/*Codebox code*/
#codebox_ace {
	position: relative;
	height: 100%;
	background-color: white;
}
.donebar{
	position:absolute;
	top:0;
	right:0;
	height:5px;
	background-color: #FFAA00;
	width:0%;
}